@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

.love-ya like a sister-regular {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}
  
  
:root {
    --fonte1: "Love Ya Like A Sister", cursive;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    width: 100vw;
    height: 100vh;  
}

/* TELA DE LOGIN */
#tela_login {
    background-image: url(../imagens/BUZIOS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 500px;
    backdrop-filter: blur(3px);
    background-color: #9a58255e;
    border-radius: 10px;
    box-shadow: 0px 0px 50px black;
}
#container > h1 {
    margin-bottom: 20px;
    font-family: var(--fonte1);
    font-weight: normal;
    font-size: 4em;
}
#container > .campos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
#container > .campos > label {
    font-size: 2em;
}
#container > .campos > input {
    width: 80%;
    font-size: 2em;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    box-shadow: 0px 5px 10px black;
    border-radius: 5px;
}
#container > #calc {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid #9a5825;
    color: #9a5825;
    background-color: white;
}
#container > #calc:hover {
    background-color: #9a5825;
    color: white;
    border: 1px solid black;
}





#signos {
    width: 100vw;
    height: 100vh;
}
#signos > #containerTitulo {
    background-image: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
}
#signos > #containerTitulo > .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
/* TELA TITULO */

#signos > #containerTitulo > .titulo > h2 {
    text-align: center;
}

/* TELA CONTAINER-PREV */
#signos > #containerPrev  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 20px;   
}
#signos > #containerPrev > .alinha {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding-top: 10px;
}
#signos > #containerPrev > .alinha > .planetas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Só para colocar a fonte dos planetas em bolder */
#signos > #containerPrev > .alinha > .planetas > .clasePlaneta {
    font-weight: bolder; 
}
/* Só para colocar a fonte dos elementos em bolder */
#signos > #containerPrev > .alinha > .elemSigno > .claseElemento {
    font-weight: bolder;
}
#signos > #containerPrev > .alinha > .elemSigno {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#signos > #containerPrev > .alinha > .elemSigno > p {
    display: flex;
}
#signos > #containerPrev > #containerElementos > .elemSigno {
    display: flex;
    justify-content: center;
}
#signos > #containerPrev > #containerElementos > .elemSigno > img { 
    margin-top: 10px;
    width:50px;
}
/* ======================================================== */



                /* campo dos conteudos */
/* conteudo exu */
#signos > #containerConteudo > #conteudoExu > .exu {
    display: flex;
    justify-content: center;
    background-image: url(../imagens/backgroundImage/exu.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;  
    mask-image: linear-gradient(to bottom, white 1%, white, transparent 90%); 
}
#signos > #containerConteudo > #conteudoExu > .exu > img {
    padding-top: 20px;
    width: 50%;
}
/* conteudo iemanja */
#signos > #containerConteudo > #conteudoIemanja > .iemanja {
    background-image: url(../imagens/backgroundImage/iemanja.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* conteudo de oxum */
#signos > #containerConteudo > #conteudoOxum > .oxum {
    background-image: url(../imagens/backgroundImage/oxum.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* conteudo de oxossi */
#signos > #containerConteudo > #conteudoOxossi > .oxossi {
    background-image: url(../imagens/backgroundImage/oxossi.gif);
    background-repeat: no-repeat;
    background-size: cover;   
} 
/* conteudo de oxaguia */
#signos > #containerConteudo > #conteudoOxaguia > .oxaguia {
    background-image: url(../imagens/backgroundImage/oxaguian.gif);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center bottom;
    background-attachment: fixed;
} 
/* conteudo de iansa */
#signos > #containerConteudo > #conteudoIansa > .iansa {
    background-image: url(../imagens/backgroundImage/iansa.gif);
    background-repeat: no-repeat;
    background-size: cover; 
} 
/* conteudo de oxalufa */
#signos > #containerConteudo > #conteudoOxalufa > .oxalufa {
    background-image: url(../imagens/backgroundImage/oxalufa.gif);
    background-repeat: no-repeat;
    background-size: cover; 
} 
/* conteudo de iansa e exu */
#signos > #containerConteudo > #conteudoIansaExu > .iansaExu {
    background-image: url(../imagens/backgroundImage/iansaexu.gif);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center top;
} 
/* conteudo de xango */
#signos > #containerConteudo > #conteudoXango > .xango {
    background-image: url(../imagens/backgroundImage/xango.gif);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
} 
/* conteudo de nana */
#signos > #containerConteudo > #conteudoNana > .nana {
    display: flex;
    background-image: url(../imagens/backgroundImage/nana.gif);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
} 
#signos > #containerConteudo > #conteudoNana > .nana > img {
    padding-top: 50px;
    width: 50%;
}
/* conteudo de oxumare */
#signos > #containerConteudo > #conteudoOxumare > .oxumare {
    display: flex;
    background-image: url(../imagens/backgroundImage/oxumare.gif);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
} 
/* conteudo de tempo */
#signos > #containerConteudo > #conteudoTempo > .tempo {
    display: flex;
    display: flex;
    background-image: url(../imagens/backgroundImage/tempo.gif);
    background-repeat: no-repeat;
    background-size: cover; 
} 
#signos > #containerConteudo > #conteudoTempo > .tempo > img {
    padding-top: 50%;
    width: 50%;
}
/* conteudo de alafia */
#signos > #containerConteudo > #conteudoAlafia > .alafia {
    display: flex;
    justify-content: end;
    background-image: url(../imagens/backgroundImage/alafia.gif);
    background-repeat: no-repeat;
    background-size: cover; 
}
#signos > #containerConteudo > #conteudoAlafia > .alafia > img {
    padding-top: 50px;
    width: 50%;
}
/* ======================================================== */


/* campo coteudo geral */
#signos > #containerConteudo > .contAlin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#signos > #containerConteudo > .contAlin > p {
    padding: 10px;
    text-indent: 3em;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
#signos > #containerConteudo > .contAlin > .conteudoImagem {
    width: 100%;
    mask-image: linear-gradient(to bottom, white, white, white, transparent 100%);
    margin-bottom: 50px;
}
/* ======================================================== */


/* campo das imagens */
#signos > #containerConteudo > .contAlin > .mais {
    display: flex;   
    justify-content: space-between;
}
#signos > #containerConteudo > .contAlin > .mais > img {
    margin-top: 50px;
    display: flex;   
    justify-content: space-between;
}
/* ======================================================= */

/* campo botao */
#signos > #containerConteudo > .contAlin > a {
    font-size: 2em;
    margin: 10px;
    color: black;
}
/* ======================================================== */

